{{term.color0}}
{{term.color1}}
{{term.color2}}
{{term.color3}}
{{term.color4}}
{{term.color5}}
{{term.color6}}
{{term.color7}}
{{term.color8}}
{{term.color9}}
{{term.color10}}
{{term.color11}}
{{term.color12}}
{{term.color13}}
{{term.color14}}
{{term.color15}}